<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div th:align="center">
    <h1>Здравствуйте, заполните заявку</h1>

    <form th:method="POST" th:action="@{save}" th:object="${newAdCustomer}">
        <table>
            <tr></tr>
            <td>Введите ваше имя: </td>
            <td><input type="text" th:field="*{name}" id="name"/></td>
            <td th:if="${#fields.hasErrors('name')}"> th:errors="*{name}">Имя не должно быть пустым или менее 2х символов</td>
            </tr>
            <tr>
            <td>Введите ваш номер телефона: </td>
            <td><input type="text" th:field="*{phone}" id="phone"/></td>
            </tr>
            <tr>
            <td>Введите ваше емайл: </td>
            <td><input type="email" th:field="*{mail}" id="mail"/></td>
            </tr>
            <tr>
            <td>Введите желаемый пароль: </td>
            <td><input type="password" th:field="*{pass}" id="pass"/></td>
            </tr>
        </table>
        <br/><br/>
        <input type="submit" value="Отправить">
    </form>

</div>

</body>
</html>